@charset "utf-8";
@font-face {
    font-family: Norse;
    src: url(..\_fonts\Norse.otf);
}

body {
    background: linear-gradient(90deg, rgb(82, 56, 24) 10%, rgb(175, 120, 48), rgb(82, 69, 52) 90%);
}

header {
    margin: auto;
    max-width: fit-content;
}

.odin {
    width: 400px;
    border: none;
    margin-bottom: -40px;
}

h1 {
    text-align: center;
    font-family: Norse;
    color: rgb(245, 179, 94)
}
    
h2 {
    margin: 0px;
}

h3, figcaption {
    text-align: center;
    font-family: Norse;
    color:rgb(245, 179, 94)
}

h4 {
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    border: 4px double rgb(240, 180, 103);
    width: 200px;
}

.figures {
    max-width: fit-content;
    margin: auto;
}

figure {
    display: inline-block;
}

#site {
    background-color: #454545ff;
    border: 4px solid #ff0000ff;
}

#ingredients {
    max-width: 500px;
    background-color: #0000ffff;
    border: 2px solid #000000ff;
    padding: 10px;
    float: left;
    margin: auto;
}

#modus-operandi {
    max-width: 500px;
    background-color: #ff00ffff;
    border: 2px solid #000000ff;
    padding: 10px;
    float: right;
    margin: auto;
}